<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small ion-text-center">ITINERARIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" (click)="closeModal()">

  <ion-fab horizontal="center" vertical="top" slot="fixed" edge>
    <ion-fab-button color="light" class="animated bounceIn" size="small" (click)="closeModal()">
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="animated bounceIn">
    <ion-card-header color="dark">
      <h2>{{ nombre }}</h2>
      <p class="margin-top-remove margin-bottom-remove">FECHA: {{fecha}}</p>
      <p class="margin-top-remove margin-bottom-remove">HORA: {{hora}}</p>
      <p class="margin-top-remove">{{ descripcion }}</p>
    </ion-card-header>
  </ion-card>

</ion-content>