<ion-header>
  <ion-toolbar color="dark">
    <ion-title size="small ion-text-center">TEMAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" (click)="closeModal()">

  <ion-fab horizontal="center" vertical="top" slot="fixed" edge>
    <ion-fab-button color="light" class="animated bounceIn" size="small" (click)="closeModal()">
      <ion-icon size="small" name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card class="animated bounceIn">
    <img [src]="image" alt="">
    <ion-card-header color="dark">
      <h3>{{ titulo }}</h3>
      <div>{{ text }}</div>
    </ion-card-header>
  </ion-card>

</ion-content>


<!--<ion-header translucent="white">
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="closeModal()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
    <ion-title class="ion-text-uppercase">Detalle del tema.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding whitebg">
  <img [src]="image" alt="">
  <h3>{{ titulo }}</h3>
  <div>{{ text }}</div>
</ion-content>-->