<ion-content fullscreen color="dark">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content pullingIcon="reload-circle" pullingText="Hala para recargar" refreshingSpinner="circles" refreshingText="Recargando">
      </ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isConnected==true">

      <!-- FONDO SEGUN SELECTOR -->
      <div [ngStyle]="{ 'background-color':  colors.background, 'background-image': 'url('+colors.schema+')' }" style="z-index: -20; min-height: 100vh; width: 100%;background-blend-mode: multiply; background-size: cover;">

          <!--scroller-->
          <div class="hero_panel">

              <!--icono de logout-->
              <ion-fab vertical="top" horizontal="end" slot="fixed" size="small">
                  <ion-fab-button (click)="cerrar()" size="small" color="light">
                      <ion-icon size="small" name="log-out"></ion-icon>
                  </ion-fab-button>
              </ion-fab>
              <!--/icono de logout-->

              <!-- INFORMACION EMPRESA -->
              <div class="animated bounceInDown capa-1 no-bg margin-top margin-bottom-remove">
                  <div class="">

                      <div class="margin-top" style="display: flex;">
                          <img style="max-width: 25%; object-fit: contain;" [src]="empresa.logo" />
                      </div>

                      <p class="margin-bottom-remove" [ngStyle]="{'color': colors.primary}">HOLA, {{ datosEmpleado.nombre }} {{ datosEmpleado.apellido }}</p>
                      <h1 class="margin-top-remove hero_h1" [ngStyle]="{'color': colors.primary}">{{ empresa.nombre }}</h1>

                  </div>
              </div>
              <!-- INFORMACION EMPRESA FIN -->

              <!--información de eventos-->

              <div color="primary" [ngStyle]="{'background': colors.background, 'color': colors.primary}" class="IndigoGlow-btn_small animated flipInX delay-1s">
                  <ion-label>
                      TUS EVENTOS
                  </ion-label>
              </div>

              <!--EVENTOS CARD-->
              <div class="padding-none" *ngIf="eventos.length > 0">
                  <ion-card (click)="goToDetaildEvent(evento.enlace)" *ngFor="let evento of eventos" [ngStyle]="{'border-color': colors.primary}" class="IndigoGlow-btn_inv margin-bottom-small animated flipInX delay-2s padding-none event-card-style" color="dark">
                      <ion-card-content class="padding-none">
                          <ion-item lines="none">
                              <ion-avatar slot="start">
                                  <img [src]="evento.image" *ngIf="evento.image != ''; else EventoSinImagen">
                              </ion-avatar>
                              <ion-label color="light">
                                  <h3>{{ evento.titulo }}</h3>
                                  <p>descripcion del evento intro</p>
                              </ion-label>
                          </ion-item>
                      </ion-card-content>
                  </ion-card>
              </div>

              <div class="no-bg animated flipInX delay-3s">
                  <ion-card *ngIf="eventos.length == 0">
                      <ion-card-header>
                          <ion-card-title>No tienes eventos asignados</ion-card-title>
                      </ion-card-header>
                  </ion-card>
              </div>

              <!--/EVENTOS CARD-->

              <!--PROXIMAMENTE-->
              <div color="light" [ngStyle]="{'background': colors.background, 'color': colors.primary, 'margin': '30px 0px'}" class="IndigoGlow-btn_small animated flipInX delay-4s" *ngIf="itinhome.length > 0">
                  <ion-label>
                      PRÓXIMAMENTE
                  </ion-label>
              </div>
              <div class="" *ngIf="itinhome.length > 0">
                  <ion-card *ngFor="let itin of itinhome" class="margin-bottom-small animated flipInX delay-5s" color="light" (click)="goToDetaildEvent(enlaceeventoitin)">
                      <ion-card-content>
                          <ion-label>
                              <ion-icon name="alert-circle-outline"></ion-icon>
                              <ion-text>
                                  <h2 class="margin-bottom-remove">{{ itin.nombre }}</h2>
                                  <p class="margin-top-remove margin-bottom-remove">{{ itin.fecha }} {{ itin.hora }}</p>
                                  <p class="margin-top-remove"> {{ itin.descripcion }} </p>
                              </ion-text>
                          </ion-label>
                      </ion-card-content>
                  </ion-card>
              </div>
              <!--/PROXIMAMENTE-->

              <!--SOCIAL MEDIA EMPRESA-->
              <img src="../../assets/images/swipeup.gif" style="mix-blend-mode: screen; position: fixed; bottom: 10px; right: 5px; height: 10%;">

          </div>
          <!--/scroller-->

      </div>



  </div>



  <ng-template #EventoSinImagen>
      <ion-icon name="checkbox" size="large"></ion-icon>
  </ng-template>


  <!--PARTE PUBLICA DEL INDEX.-->

  <!--<ng-template #AccesoLogin>-->

  <div style="height: 100vh; position: relative;">

      <div class="momento_bg">
          <div>
              <div class="animated fadeInDown ion-text-center">
                  <img src="../../assets/momento_logo.png">
              </div>

              <!--GRID DE INICIO-->
              <div>
                  <!--BOTON DE PORTAFOLIO-->

                  <div href="#" class="IndigoGlow-btn animated flipInX" (click)="goToPortafolio()">
                      <ion-card-content class="btn-home-access-large"> 
                          <ion-label>
                              <ion-text>
                                  <ion-row>
                                      <ion-col size="11">
                                          <h2>PORTAFOLIO</h2>
                                          <p>Explora nuestros eventos</p>
                                      </ion-col>
                                      <ion-col size="1">
                                          <ion-icon name="albums-outline"></ion-icon>
                                      </ion-col>
                                  </ion-row>
                              </ion-text>
                          </ion-label>

                      </ion-card-content>
                  </div>
                  <!--/BOTON DE PORTAFOLIO-->

                  <!--BOTON DE SERVICIOS-->
                  <div href="#" class="IndigoGlow-btn_inv animated flipInX delay-1s" (click)="goToServices()">
                      <ion-card-content class="btn-home-access-large">
                          <ion-label>
                              <ion-text>
                                  <ion-row>
                                      <ion-col size="11">
                                          <h2>SERVICIOS</h2>
                                          <p>Vamos a crear juntos</p>
                                      </ion-col>
                                      <ion-col size="1">
                                          <ion-icon name="wine"></ion-icon>
                                      </ion-col>
                                  </ion-row>
                              </ion-text>
                          </ion-label>

                      </ion-card-content>
                  </div>

                  <!--/BOTON DE SERVICIOS-->

                  <!--GRID INFERIOR-->
                  <ion-grid class="ion-no-padding" style="margin-left: 20px; margin-right: 20px;">
                      <ion-row>
                          <ion-col>
                              <!--BOTON DE BLOG-->
                              <div href="#" class="IndigoGlow-card_inv animated flipInX delay-2s margin-top-remove" (click)="goToBlog()">
                                  <ion-card-content class="btn-home-access">
                                      <ion-label>
                                          <ion-text>
                                              <ion-row>
                                                  <ion-col size="11">
                                                      <h2>CONSEJOS</h2>
                                                      <p>Momento®</p>
                                                  </ion-col>
                                                  <ion-col size="1">
                                                      <ion-icon name="heart-circle"></ion-icon>
                                                  </ion-col>
                                              </ion-row>
                                          </ion-text>
                                      </ion-label>

                                  </ion-card-content>
                              </div>
                              
                              <!--/BOTON DE BLOG-->
                          </ion-col>

                          <ion-col>
                              <!--BOTON DE ABOUT-->
                              <div href="#" class="IndigoGlow-card_inv animated flipInX delay-2s margin-top-remove" (click)="helper.openInternal('/about', 'left', 400)">
                                  <ion-card-content class="btn-home-access">
                                      <ion-label>
                                          <ion-text>
                                              <ion-row>
                                                  <ion-col size="11">
                                                      <h2>NOSOTROS</h2>
                                                      <p>Conoce más</p>
                                                  </ion-col>
                                                  <ion-col size="1">
                                                      <ion-icon name="alert-circle"></ion-icon>
                                                  </ion-col>
                                              </ion-row>
                                          </ion-text>
                                      </ion-label>

                                  </ion-card-content>
                              </div>
                              
                              <!--/BOTON DE ABOUT-->
                          </ion-col>
                      </ion-row>
                  </ion-grid>

                  <!--/GRID INFERIOR-->
              </div>
              <!--/GRID DE INICIO-->

              <div class="ion-text-center">
                  <div class="animated fadeIn">
                  </div>

                  <div *ngIf="isConnected==false" class="animated infinite bounce delay-2s margin-top margin-bottom">
                      <img (click)="goToLogin()" src="../../assets/dactilar.png" height="auto" width="15%" class="margin-bottom-remove">
                      <ion-text color="light" class="margin-top-remove">
                          <p>identificate</p>
                      </ion-text>
                  </div>
              </div>
          </div>
      </div>
  </div>


  <!--</ng-template>-->

</ion-content>