/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "~animate.css/animate.min.css";


.icon-large {
    font-size: 1.5rem;
}

.bg_primary {
    background-color: var(--ion-color-primary) !important;
}

.text-large {
    font-size: 1.8rem;
}

.momento_bg {
    /*background-image: url('../src/assets/mom_bg.jpg');*/
    background: rgb(2,0,36);
    background: linear-gradient(4deg, rgba(2,0,36,1) 0%, rgba(51,10,64,1) 26%, rgba(50,3,69,1) 82%, rgba(33,33,33,1) 100%);
    min-height: 100vh;
    padding-top: 2em;
    z-index: 999;
/*  display: flex;
    align-items: center;
    justify-content: center;*/
}

ion-content {
  min-height: 500px !important;
}

.position-bottom {
    position: absolute;
    bottom: 65px;
    left: 0;
    right: 0;
}

.position-top {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
}

.position-top-small {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}

.margin-top {
    margin-top: 30px !important;
}

.margin-top-small {
    margin-top: 10px !important;
}

.margin-top-remove {
    margin-top: 0 !important;
}

.margin-bottom {
    margin-bottom: 30px !important;
}

.margin-bottom-small {
    margin-bottom: 10px !important;
}

.margin-bottom-remove {
    margin-bottom: 0 !important;
}

.contrast {
    color: white !important;
}

.contenido-oculto {
    display: none !important;
}

.uk-border-circle {
    border-radius: 50%;
  }
  
.uk-border-rounded {
    border-radius: 1px;
  }

.bg-color {
   position: absolute;
   top: -300px;
   left: calc(50% - 80%);;
   width: 175%;
   height: auto;
   z-index: 0;
  }

.bg-shape {
  position: absolute;
  top: -300px;
  left: calc(50% - 80%);;
  width: 175%;
  height: auto;
  z-index: -1;
}

.bg-shape-footer {
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: auto;
    z-index: -1;
  }

.capa-1 {
    z-index: 10 !important;
}

.no-bg {
    background-color: transparent !important;
}

.hero_panel {
    padding: 10px 10% 0px;
}

.hero_h1 {
    font-size: 40px !important;
}

.full-screen {
    min-height: 100vh !important
}

.bg_capa_0 {
    position: absolute;
    z-index: 1 !important;    
}

.bg_capa_1 {
    z-index: 5 !important;    
}

.bg_capa_2 {
    z-index: 10 !important;    
}

.bg_capa_3 {
    z-index: 15 !important;    
}

.bg_capa_4 {
    position: absolute;
    z-index: 20 !important;    
}

.multiply {
    mix-blend-mode: soft-light;
}

.shadow {
    text-shadow: 0px 0px 20px black;
}

.box_cute {
    width: 80%;
    margin: auto;
    background: rgb(221,221,221);
    background: -moz-linear-gradient(45deg, rgba(221,221,221,1) 0%, rgba(240,240,240,1) 29%, rgba(250,250,250,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(221,221,221,1) 0%, rgba(240,240,240,1) 29%, rgba(250,250,250,1) 100%);
    background: linear-gradient(45deg, rgba(221,221,221,1) 0%, rgba(240,240,240,1) 29%, rgba(250,250,250,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dddddd",endColorstr="#fafafa",GradientType=1);
    border-radius: 20px;
    box-shadow: 4px 20px 50px rgba($color: #000000, $alpha: 0.3);
}

.uk-align-center {
    margin: auto;
}

.uk-width-1-1 {
    width: 100%;
}

.uk-width-1-2 {
    width: 50%;
}

.uk-width-1-3 {
    width: 33.3%;
}

.uk-column {
    flex-direction: column;
}

.text-uppercase {
    text-transform: uppercase;
  }
  
.text-justify {
    text-align: justify;
    text-justify: inter-word;
  }

.text-small {
    font-size: 8px;
  }

.margin-bottom-large {
    margin-bottom: 3rem;
}

.margin-top-large {
    margin-top: 5rem;
}

.item-native {
  background-color: transparent !important;
}

.scroll-box {
    width: 100%;
    height: 100vh;
    position: absolute;
    padding: 30px 0px;
    overflow-y: scroll;
    z-index: 9999999999999;
}

ion-fab-button {
    z-index: 9999999999999;
}

.padding-small {
    padding: 10px 15px;
}

.padding-none {
    padding: 0px 0px;
}

.sobrepuesto {
    z-index: 9999999999999999;
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes move {
    100% {
        transform: translate3d(0, 0, 1px) rotate(360deg);
    }
  }

  /*ESTAS SON LAS PEPITAS QUE SE MUEVEN*/
  
  .background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #462373;
    background-image: url("../src/assets/mom_bg.jpg");
    overflow: hidden;
    mix-blend-mode: overlay;
    background-blend-mode: overlay;
  }
  
  .background span {
    width: 69vmin;
    height: 60vmin;
    border-radius: 60vmin;
    backface-visibility: hidden;
    position: absolute;
    /*animation: move;
    animation-duration: 39;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;*/
    mix-blend-mode: overlay;
    opacity: .5;
  }
  
  
  .background span:nth-child(0) {
    color: #572b8c;
    top: 17%;
    left: 98%;
    animation-duration: 75s;
    animation-delay: -9s;
    transform-origin: -23vw -1vh;
    box-shadow: -84vmin 0 10.919025669568544vmin currentColor;
    mix-blend-mode: overlay;
  }
  .background span:nth-child(1) {
    color: #3a1c5e;
    top: 89%;
    left: 60%;
    animation-duration: 39s;
    animation-delay: -40s;
    transform-origin: -12vw 3vh;
    box-shadow: -84vmin 0 10.839284527091209vmin currentColor;
  }
  .background span:nth-child(2) {
    color: #3a1c5e;
    top: 83%;
    left: 19%;
    animation-duration: 18s;
    animation-delay: -72s;
    transform-origin: -18vw 8vh;
    box-shadow: -84vmin 0 10.991453445674747vmin currentColor;
    mix-blend-mode: overlay;
  }
  .background span:nth-child(3) {
    color: #572b8c;
    top: 72%;
    left: 87%;
    animation-duration: 60s;
    animation-delay: -49s;
    transform-origin: 23vw 18vh;
    box-shadow: 84vmin 0 10.562968997514341vmin currentColor;
    mix-blend-mode: overlay !important;
  }
  .background span:nth-child(4) {
    color: #3a1c5e;
    top: 2%;
    left: 68%;
    animation-duration: 106s;
    animation-delay: -62s;
    transform-origin: 24vw -22vh;
    box-shadow: -84vmin 0 10.513771291397976vmin currentColor;
  }
  .background span:nth-child(5) {
    color: #572b8c;
    top: 46%;
    left: 97%;
    animation-duration: 96s;
    animation-delay: -65s;
    transform-origin: -20vw 14vh;
    box-shadow: 84vmin 0 11.064081465019623vmin currentColor;
  }
  .background span:nth-child(6) {
    color: #3a1c5e;
    top: 65%;
    left: 3%;
    animation-duration: 101s;
    animation-delay: -22s;
    transform-origin: 23vw -3vh;
    box-shadow: -84vmin 0 10.601715865809398vmin currentColor;
  }
  .background span:nth-child(7) {
    color: #3a1c5e;
    top: 54%;
    left: 40%;
    animation-duration: 98s;
    animation-delay: -55s;
    transform-origin: 15vw -20vh;
    box-shadow: -84vmin 0 10.691720591122234vmin currentColor;
  }
  .background span:nth-child(8) {
    color: #3a1c5e;
    top: 90%;
    left: 75%;
    animation-duration: 38s;
    animation-delay: -107s;
    transform-origin: 11vw 16vh;
    box-shadow: -84vmin 0 10.65226034638804vmin currentColor;
  }
  .background span:nth-child(9) {
    color: #3a1c5e;
    top: 76%;
    left: 73%;
    animation-duration: 59s;
    animation-delay: -66s;
    transform-origin: -16vw -15vh;
    box-shadow: 84vmin 0 10.862329132909082vmin currentColor;
  }
  .background span:nth-child(10) {
    color: #3a1c5e;
    top: 23%;
    left: 18%;
    animation-duration: 53s;
    animation-delay: -106s;
    transform-origin: 6vw -14vh;
    box-shadow: -84vmin 0 11.066513804691253vmin currentColor;
  }
  .background span:nth-child(11) {
    color: #3a1c5e;
    top: 15%;
    left: 47%;
    animation-duration: 37s;
    animation-delay: -6s;
    transform-origin: 9vw -22vh;
    box-shadow: -84vmin 0 10.968730669462424vmin currentColor;
  }
  .background span:nth-child(12) {
    color: #3a1c5e;
    top: 97%;
    left: 42%;
    animation-duration: 42s;
    animation-delay: -23s;
    transform-origin: -14vw 3vh;
    box-shadow: 84vmin 0 11.362631368026241vmin currentColor;
  }
  .background span:nth-child(13) {
    color: #572b8c;
    top: 39%;
    left: 53%;
    animation-duration: 50s;
    animation-delay: -22s;
    transform-origin: 25vw -4vh;
    box-shadow: -84vmin 0 10.917150019699331vmin currentColor;
  }
  .background span:nth-child(14) {
    color: #572b8c;
    top: 8%;
    left: 79%;
    animation-duration: 100s;
    animation-delay: -7s;
    transform-origin: -8vw -24vh;
    box-shadow: 84vmin 0 11.431847062593654vmin currentColor;
  }
  .background span:nth-child(15) {
    color: #3a1c5e;
    top: 61%;
    left: 84%;
    animation-duration: 52s;
    animation-delay: -96s;
    transform-origin: 18vw 9vh;
    box-shadow: 84vmin 0 10.873776455653395vmin currentColor;
  }
  .background span:nth-child(16) {
    color: #3a1c5e;
    top: 2%;
    left: 85%;
    animation-duration: 108s;
    animation-delay: -10s;
    transform-origin: 8vw 6vh;
    box-shadow: 84vmin 0 11.108312687606617vmin currentColor;
  }
  .background span:nth-child(17) {
    color: #3a1c5e;
    top: 88%;
    left: 47%;
    animation-duration: 107s;
    animation-delay: -21s;
    transform-origin: 21vw -13vh;
    box-shadow: -84vmin 0 10.578343482825929vmin currentColor;
  }
  .background span:nth-child(18) {
    color: #572b8c;
    top: 100%;
    left: 51%;
    animation-duration: 52s;
    animation-delay: -103s;
    transform-origin: 5vw 10vh;
    box-shadow: -84vmin 0 10.903752728900564vmin currentColor;
  }
  .background span:nth-child(19) {
    color: #572b8c;
    top: 87%;
    left: 62%;
    animation-duration: 14s;
    animation-delay: -30s;
    transform-origin: 1vw 11vh;
    box-shadow: -84vmin 0 10.527418756715301vmin currentColor;
    mix-blend-mode: multiply !important;
  }

  /********* INDIGO **********/
.IndigoGlow-btn{
  transition: 0.3s all ease-in-out;
  padding: 5px 5px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  background: linear-gradient(60deg, #791cf8, #b84ffb);  
  border-radius: 550px;
  box-shadow: inset rgba(184, 79, 251, 0.7) 0px 0px 10px, rgba(184, 79, 251, 0.3) 0px 0px 5px 1px;
  margin: 15px;
  z-index: 9999999;
}
.IndigoGlow-btn:active{
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(60deg, #791cf8, #b84ffb);
  box-shadow: rgba(184, 79, 251, 0.8) 0px 15px 30px;
}

.IndigoGlow-btn_small{
  transition: 0.3s all ease-in-out;
  padding: 10px 30px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  background: linear-gradient(60deg, #791cf8, #b84ffb);  
  border-radius: 550px;
  box-shadow: rgba(184, 79, 251, 0.4) 0px 8px 30px;
  margin: 5px;
  z-index: 9999999;
  font-size: 10px;
  text-align: center;
}
.IndigoGlow-btn_small:active{
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(60deg, #791cf8, #b84ffb);
  box-shadow: rgba(184, 79, 251, 0.8) 0px 15px 30px;
}


.IndigoGlow-btn_inv{
  transition: 0.3s all ease-in-out;
  padding: 5px 18px;
  color: #dadada;
  text-decoration: none;
  border: 1px solid #791cf8;
  background: rgba(255, 255, 255, 0);  
  border-radius: 550px;
  margin: 15px;
  z-index: 9999999;
  box-shadow: inset rgba(184, 79, 251, 0.7) 0px 0px 10px, rgba(184, 79, 251, 0.3) 0px 0px 5px 1px;
}
.IndigoGlow-btn_inv:hover,
.IndigoGlow-btn_inv:focus{
  color: #ffffff;
  background: linear-gradient(60deg, #791cf8, #b84ffb);
  box-shadow: rgba(184, 79, 251, 0.8) 0px 15px 30px;
  border: 2px solid #ad73fc;
}

.IndigoGlow-card_inv{
  transition: 0.3s all ease-in-out;
  padding: 5px 5px;
  color: #dadada;
  text-decoration: none;
  border: 2px solid #791cf8;
  background: rgba(255, 255, 255, 0);  
  border-radius: 10px;
  margin: 10px;
  z-index: 9999999;
  box-shadow: inset rgba(184, 79, 251, 0.7) 0px 0px 10px, rgba(184, 79, 251, 0.3) 0px 0px 5px 1px;
}
.IndigoGlow-card_inv:active{
  color: #ffffff;
  background: linear-gradient(60deg, #791cf8, #b84ffb);
  box-shadow: rgba(184, 79, 251, 0.8) 0px 15px 30px;
  border: 2px solid #ad73fc;
}
/********* INDIGO END **********/

.uk-margin-auto-vertical {
  margin-top: 25vh !important;
  margin-bottom: auto !important;
}

ion-item .item-native {
  padding-inline-start: 0px !important; 
}

ion-item::part(native){
  background: transparent
}

.sc-ion-input-md-h {
  background: transparent;
  color: white !important;
}

.ion-color-light {
  --ion-color-base: white !important;
}

.button-inner {
  color:rgba(184, 79, 251, 0.3) !important;
}

ion-fab-button::part(native) {
  color: #572b8c !important;
}

.btn-home-access {
  padding: 12px;
}

.btn-home-access ion-label ion-text ion-row ion-col h2 {
  font-size: 12px;
}

.btn-home-access-large {
  padding: 20px;
}

.btn-home-access-large ion-label ion-text ion-row ion-col h2 {
  font-size: 20px;
}

.btn-home-access-large ion-label ion-text ion-row ion-col p {
  font-size: 15px;
}

.btn-home-access ion-label ion-text ion-row ion-col p {
  font-size: 11.5px;
}

.btn-home-access ion-label ion-text ion-row ion-col ion-icon {
  font-size: 30px;
  left: -10px;
  top: 5px;
  position: relative;
}

.btn-home-access-large ion-label ion-text ion-row ion-col ion-icon {
  font-size: 30px;
  left: -10px;
  top: 5px;
  position: relative;
}

.event-card-style {
  border: none !important;
}